
@{
    ViewBag.Title = "Login";
}

@{
    Layout = "~/Views/Shared/_Login.cshtml";
}


<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/animsition.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/hamburgers.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/daterangepicker.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/login-util.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/page_styles/login.css")" rel="stylesheet" type="text/css" />


<a href="index"><i class="fa fa-arrow-left fa-2x"></i></a>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-51">
                    Car Tracking Login
                </span>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Provide a valid email">
                    <input class="input100" type="text" name="email" placeholder="Email" id="emailInput">
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password" id="passwordInput">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <p class="statusTxt">All fields are required</p>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot password?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" >
                        Login 
                    </button>
                </div>


            </form>
            <hr />

            <div class="h4">Dont Have an account? <span class="text-black">@Html.ActionLink("Contact us", "Contact", "Home")</span></div>
        </div>
    </div>
</div>



@Scripts.Render("~/Scripts/jquery.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Scripts.Render("~/Scripts/animsition.min.js")
@Scripts.Render("~/Scripts/select2.min.js")
@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/daterangepicker.js")
@Scripts.Render("~/Scripts/countdowntime.js")
@Scripts.Render("~/Scripts/popper.min.js")
@Scripts.Render("~/Scripts/jquery.cookie.js")
@Scripts.Render("~/Scripts/page_scripts/login.js")



