
@{
    ViewBag.Title = "CarTrackingPanel";
    Layout = "~/Views/Shared/_CarTrackingPanelLayout.cshtml";
}
<link href="@Url.Content("https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/page_styles/CarTrackingPanel.css")" rel="stylesheet" type="text/css" />




<div class="container-fluid" id="map"></div>
<div id="accordion" class="accordion">
    <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
        </div>
        <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
            <table id="routesTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>servertime</th>
                        <th>devicetime</th>
                        <th>latitude</th>
                        <th>longitude</th>
                        <th>altitude</th>
                        <th>speed</th>
                        <th>course</th>
                        <th>accuracy</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>id</th>
                        <th>servertime</th>
                        <th>devicetime</th>
                        <th>latitude</th>
                        <th>longitude</th>
                        <th>altitude</th>
                        <th>speed</th>
                        <th>course</th>
                        <th>accuracy</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>




@Scripts.Render("https://maps.googleapis.com/maps/api/js?key=")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js")
@Scripts.Render("https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js")
@Scripts.Render("~/Scripts/page_scripts/googleMapCustom.js")





